@model MVCBetBud.ServiceReference.Bruger

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Profil</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BrugerNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrugerNavn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>
      

    </dl>
</div>
<p>
    @Html.ActionLink("Rediger profil", "Edit") |
    @Html.ActionLink("Gå til forside", "Index")
</p>
