@using MVCBetBud.Models
@using MVCBetBud.ServiceReference
@model IEnumerable<MVCBetBud.Models.VundetKupon>

@{
    ViewBag.Title = "Kuponer";
}

<h2>Kuponer</h2>
<p>
    <a href = "@Url.Action("OpretKupon", "Kupon")"
       class = "btn btn-success">
        Ny kupon!
    </a>
</p>
@foreach (VundetKupon modelVundet in Model) {
    string vundet = "kuponFailed";
    if (modelVundet.kupon.Kontrolleret == false) {
        vundet = "kuponNormal";
    }
    else if (modelVundet.vundet) {
        vundet = "kuponSucces";
    }
    <div class = "col-md-4">
        <table class = "table @vundet">
            <tr>
                <th>Hold Vs Hold</th>
                <th>Valgt</th>
                <th>Odds</th>

            </tr>
            @foreach (DelKamp delKamp in modelVundet.kupon.delKampe) {
                double odds = 0.0;
                string valgt = "taber";

                if (delKamp.Valgt1) {
                    odds = delKamp.Kampe.Odds1;
                    valgt = "1";
                }
                else if (delKamp.ValgtX) {
                    odds = delKamp.Kampe.OddsX;
                    valgt = "X";
                }
                else if (delKamp.Valgt2) {
                    odds = delKamp.Kampe.Odds2;
                    valgt = "2";
                }

                <tr>
                    <td>@delKamp.Kampe.HoldVsHold</td><td>@valgt</td><td>@odds</td>
                </tr>
            }
            <tr class = "sebs">
                <td colspan = "2">Satset point</td><td>@modelVundet.kupon.Point</td>
            </tr>

            <tr>
                <td colspan = "2">Mulig gevinst</td>
                <td>@modelVundet.muligGevinst</td>
            </tr>
        </table>
    </div>
}