@model MVCBetBud.Models.OpretKuponController

@{
    ViewBag.Title = "OpretKupon";
}
@if (Session["error"] != null)
{
    <h3> @Session["error"] </h3>

    {
        Session["error"] = null;
    }
}
<div class="col-md-8">

    <h2>Ugens kampe</h2>
    <table class="table col-md-7" id="AlleKampeID" style="">
        <tr>

            <th>
                Kampe
            </th>

            <th style="text-align: center;">
                1
            </th>
            <th style="text-align: center;">
                X
            </th>

            <th style="text-align: center;">
                2
            </th>

            <th>
                KampStart
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.AlleKampe)
        {
            <tr>
                @using (Html.BeginForm())
                {
                    <td>
                        @Html.HiddenFor(modelItem => item.KampId)

                        @Html.DisplayFor(modelItem => item.HoldVsHold)
                    </td>

                    <td style="height: 20px; text-align: center; width: 30px;">
                        <input type="submit" name="Odds1" value="@Html.DisplayFor(modelItem => item.Odds1)"/>

                    </td>
                    <td style="text-align: center;">
                        <input type="submit" name="OddsX" value="@Html.DisplayFor(modelItem => item.OddsX)"/>
                    </td>
                    <td style="text-align: center;">
                        <input type="submit" name="Odds2" value="@Html.DisplayFor(modelItem => item.Odds2)"/>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.KampStart)
                    </td>
                }
            </tr>
        }

    </table>
</div>
<div class="col-md-4">
    <h2>Din kupon</h2>
    <table class="table">
        <tr>
            <th>Kampe</th>
            <th>Valgt</th>
            <th>Odds</th>
            <th>Fjern Kamp</th>

        </tr>
        @if (Model.kupon.delKampe != null)
        {
            foreach (var delKamp in Model.kupon.delKampe)
            {
                var odds = 0.0;
                var valgt = "taber";

                if (delKamp.Valgt1)
                {
                    odds = delKamp.Kampe.Odds1;
                    valgt = "1";
                }
                else if (delKamp.ValgtX)
                {
                    odds = delKamp.Kampe.OddsX;
                    valgt = "X";
                }
                else if (delKamp.Valgt2)
                {
                    odds = delKamp.Kampe.Odds2;
                    valgt = "2";
                }


                <tr>
                    <td>@delKamp.Kampe.HoldVsHold</td>
                    <td>@valgt</td>
                    <td class="OddsBox">@odds</td>
                    <td>
                        @using (Html.BeginForm("FjernKamp", "Kupon"))
                        {
                            <input name="FjernKamp" value="@delKamp.Kampe.KampId" type="hidden">
                            <input type="submit" value="X"/>
                        }
                    </td>
                </tr>
            }
            <tr class="OddsBoxStart">
                <td>
                    <b>Samlet odds</b>
                </td>
                <td colspan="2"></td>
                <td>
                    <b id="oddsResult">0</b>
                </td>
            </tr>
        }
    </table>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <table class="table">
                <tr>
                    <th colspan="2">Vælg indsats</th>
                </tr>
                <tr>
                    <td>til Rådighed</td>
                    <td id="dinePoing">@Model.kupon.Bruger.Point</td>
                </tr>
                <tr>
                    <td>Indsats</td>
                    <td>
                        <input type="text" class="form-control" name="bettingPoint"/>
                    </td>
                </tr>
                <tr>
                    <td>Mulig gevinst</td>
                    <td id="gevinst"><span class="OddsBoxStart">0</span> point</td>
                </tr>
            </table>
            <div class="col-md-6">
                <a href="/Kupon/RydKupon" class="form-control btn btn-danger">Ryd kupon</a>
            </div>
            <div class="col-md-6">
                <input name="Bekraeft" type="submit" value="Bekræft" class="form-control btn btn-info"/>
            </div>
        </div>
    }
</div>