<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8"/>
    <meta content = "width=device-width, initial-scale=1.0"
          name = "viewport">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class = "navbar navbar-fixed-top navbar-inverse">
    <div class = "container">
        <div class = "navbar-header">
            <button class = "navbar-toggle"
                    data-target = ".navbar-collapse"
                    data-toggle = "collapse"
                    type = "button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("BetBuddy", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class = "collapse navbar-collapse">
            <ul class = "nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Highscore", "Highscore", "Bruger")</li>
                <li>@Html.ActionLink("Kupon", "Index", "Kupon")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class = "body-content container">
    @RenderBody()


</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/scripts/main.js")
@RenderSection("scripts", false)
</body>
</html>